{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block bloglink %}
<a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
{% endblock bloglink %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="blog-post">
      <br />
      <h2 class="blog-post-title">{{ blog.title }}</h2>
      <p class="blog-post-meta"> Created on {{ blog.pub_date }} </p> <br />
      <img class="img-fluid" src="{{ blog.image.url }}" width="4000" height="4000"> <br />
      <br />
      <p>{{ blog.body }}</p>
      <br />
    </div>
    <hr />
  </div>
</main>
{% endblock %}