{% extends 'base.html' %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Hi, I'm Deepa!</h1>
      <p>I'm a Java Engineer in quest of an opportunity to solve challenging software engineering problems with a
        passion to use the right tools and best practices</p>
      <p><a class="btn btn-primary btn-lg" href="mailto: deepa.name@gmail.com" role="button">Email me</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for job in jobs.all %}
      <div class="col-md-3">
        <h2>{{ job.title }}</h2>
        <p>{{ job.details }}</p>
        {% if job.link %}
          <p><a class="btn btn-secondary" href="{{ job.link }}" target="_blank" role="button">See it in action &raquo;</a></p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <hr />
  </div> <!-- /container -->

</main>
{% endblock %}